<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <nav id="nav">
        <a href="/index">Home</a>
        <a href="/about">About</a>
        <a href="/galery">Galery</a>
    </nav>

   <div id="gallery">
    <img src="/Anotnio1.jfif" alt="bandera1" width="200px">
    <img src="/Anotnio2.jfif" alt="bandera2" width="200px">
    <img src="/Anotnio3.jfif" alt="bandera3" width="200px">
    <img src="/Anotnio4.jfif" alt="bandera1" width="200px">
    <img src="/Anotnio5.jfif" alt="bandera2" width="200px">
    <img src="/Anotnio6.jfif" alt="bandera3" width="200px">

</body>
</html>