<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    
    <nav id="nav">
        <a href="/about">About</a>
        <a href="/works">Works</a>
    </nav>

    <h1>Antonio Banderas</h1>

    <h3>Informacion</h3>

    <img src="/banderas.jpg" alt="banderas" width="200px">

    <p>José Antonio Domínguez Bandera1​ (Málaga, 10 de agosto de 1960), conocido profesionalmente como Antonio Banderas, es un actor, cantante, actor de voz, productor, director, perfumista y empresario español.

        Banderas comenzó su carrera como actor en el teatro en España y poco más tarde en el cine con una serie de películas del director Pedro Almodóvar en la década de 1980. Después, pasó a participar también en películas de Hollywood.
        
        En 2003, Banderas debutó en el teatro de Estados Unidos en Nine, por lo que fue nominado para un Premio Tony y ganó un Premio Drama Desk. Recibió nominaciones a los Premios Primetime Emmy por protagonizar la película para televisión And Starring Pancho Villa as Himself (2004)2​ y por encarnar a Pablo Picasso en la segunda temporada de Genius (2018).3​ Por la película Dolor y gloria (2019) ganó el Premio Goya y el Premio del Festival de Cine de Cannes al Mejor Actor, fue nominado al Óscar4​ y fue nominado por quinta vez a un Globo de Oro al Mejor Actor.5​</p>

    


</body>
</html>